PassengerStartupFile app.js
PassengerResolveSymlinksInDocumentRoot on
Require all granted
PassengerAppType node
PassengerAppRoot /home/a0232298/domains/protanalytics.xyz/public_html
Options -MultiViews