<!DOCTYPE html>
<!--[if IE 9]><html class="lt-ie10 no-js" prefix="og: https://ogp.me/ns#" lang="en-us"><![endif]-->
<!--[if gt IE 9]><!-->
<html class="no-js" prefix="og: https://ogp.me/ns#" lang="en-us">
<!--<![endif]-->

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<title>About :: Protein Analytics</title>
	<meta name="viewport" content="width=device-width,initial-scale=1,viewport-fit=cover">
	<meta name="msapplication-tap-highlight" content="no">
	<link href="styles.css" rel="stylesheet">
	<meta name="description" content="Interface Designer">
	<meta name="keywords" content="">
	<meta name="generator" content="Webnode 2">
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="apple-mobile-web-app-status-bar-style" content="black">
	<meta name="format-detection" content="telephone=no">

	<meta property="og:url" content="http://protanalytics.xyz/about/">
	<meta property="og:title" content="About :: Ai for predicting 3d protein structure stability">
	<meta property="og:type" content="article">
	<meta property="og:description" content="About">
	<meta property="og:site_name" content="Protein Analytics">
	<meta property="og:article:published_time" content="2019-09-16T00:00:00+0200">
	<meta name="robots" content="noindex,nofollow">
	<link rel="canonical" href="http://protanalytics.xyz/about/">
	<script>
		window.checkAndChangeSvgColor = function (c) { try { var a = document.getElementById(c); if (a) { c = [["border", "borderColor"], ["outline", "outlineColor"], ["color", "color"]]; for (var h, b, d, f = [], e = 0, m = c.length; e < m; e++)if (h = window.getComputedStyle(a)[c[e][1]].replace(/\s/g, "").match(/^rgb[a]?\(([0-9]{1,3}),([0-9]{1,3}),([0-9]{1,3})/i)) { b = ""; for (var g = 1; 3 >= g; g++)b += ("0" + parseInt(h[g], 10).toString(16)).slice(-2); "0" === b.charAt(0) && (d = parseInt(b.substr(0, 2), 16), d = Math.max(16, d), b = d.toString(16) + b.slice(-4)); f.push(c[e][0] + "=" + b) } if (f.length) { var k = a.getAttribute("data-src"), l = k + (0 > k.indexOf("?") ? "?" : "&") + f.join("&"); a.src != l && (a.src = l, a.outerHTML = a.outerHTML) } } } catch (n) { } };
	</script>
</head>

<body class="layout-04 wt-page">
	<div class="wnd-page cs-gray c-dblue">
		<div id="wrapper" class="t-09">

			<header id="header">
				<div id="layout-section" class="section header header-05 page s-media wnd-background-image">
					<div class="nav-line-wrapper header-fixed wnd-fixed">
						<div class="nav-line initial-state section-inner initial-state">
							<div class="logo logo-gray exo wnd-logo-with-text wnd-image-vector">
								<div class="logo-content">
									<a href="/">

										<div class="logo-embed">
											<div class="logo-embed-cell">
												<embed id="wnd_LogoBlock_867800_img" type="image/svg+xml"
													data-src="/logo.svg?border=105389&outline=105389&color=105389">
												<script>checkAndChangeSvgColor('wnd_LogoBlock_867800_img');</script>
											</div>
										</div>
										<div class="logo-text">
											<span class="logo-text-cell">TEAM 5</span>
										</div>
									</a>
								</div>
							</div>



							<nav id="menu" role="navigation">
								<div>
									<a href="#" class="close-menu" rel="nofollow">
										<span>Close Menu</span>
									</a>
									<ul class="level-1">
										<li class="wnd-homepage">
										<li>
											<a href="/"><span>Home</span></a>
										</li>
										<li>
											<a href="/services"><span>Analysis</span></a>
										</li>
										<li class="wnd-active wnd-active-path">
											<a href="/about"><span>About</span></a>
										</li>
									</ul>
									<span class="more-text">More</span>
								</div>
							</nav>
							<div id="menu-mobile" class="hidden">
								<a href="#" id="menu-submit"><span></span>Menu</a>
							</div>
						</div>
					</div>
				</div>

			</header>
			<main id="main" role="main">

				<div class="section-wrapper cf">
					<div class="section-wrapper-content cf">
						<div class="section header header-05 page s-media wnd-background-image">
							<div class="section-bg">
								<div class="section-bg-layer wnd-background-image fx-none bgatt-scroll bgpos-center-center"
									style="background-image:url('bckg1.png')">

								</div>
								<div class="section-bg-layer section-bg-overlay"></div>
							</div>
							<div class="section-inner section-claim">
								<div class="claim-content cf">
									<div class="header-claim cf">
										<h1>
											<div class="auto-font-size cf"><span
													class="styled-inline-text claim-default wnd-font-size-80 exo">
													<span><span>
															<font class="wnd-font-size-80">About&nbsp;AI for predicting
																3D protein structure stability</font>
														</span></span>
												</span></div>
										</h1>
									</div>
								</div>
							</div>
						</div>
						<section class="section default-01 default s-white">
							<div class="section-bg">
								<div class="section-bg-layer">

								</div>
								<div class="section-bg-layer section-bg-overlay"></div>
							</div>
							<div class="section-inner">
								<div class="content cf wnd-no-cols">
									<div>
										<div class="text cf design-01">
											<div class="text-content">
												<h2>Biologist</h2>
											</div>
										</div>
										<div class="image image-default block design-01 wnd-orientation-square wnd-type-image"
											style="margin-left:30.57%;margin-right:30.57%;" id="wnd_ImageBlock_94230">
											<div class="image-content cf"
												style="padding-bottom:100%;text-align:center;">
												<img src="https://ai-for-predicting-3d-protein-structure-stability9.webnode.com/_files/200000001-c9042c9045/200/E0782FA5-E40F-4377-BFD9-3E58EE2E8DB5.jpeg"
													alt="Ksenia Skulkina "
													style="top:0%;left:0%;width:100%;height:100%;position:absolute;">
												<div class="image-embed">
												</div>
											</div>
											<div class="image-title"><span>Ksenia Skulkina </span></div>
										</div>
										<div class="text cf design-01">
											<div class="text-content">
												<h2>Programmers</h2>
											</div>
										</div>
										<div class="programmers">
											<div class="image image-default block design-01 wnd-orientation-square wnd-type-image"
												style="margin-left:30.57%;margin-right:30.57%;"
												id="wnd_ImageBlock_43286">
												<div class="image-content cf"
													style="padding-bottom:100%;text-align:center;">
													<img src="https://ai-for-predicting-3d-protein-structure-stability9.webnode.com/_files/200000002-75eb175eb3/200/804CC8B8-40CD-496C-8DB2-B814ECDABD11.jpeg"
														alt="Kirill Shcherbakov"
														style="top:0%;left:0%;width:100%;height:100%;position:absolute;">
													<div class="image-embed">
													</div>
												</div>
												<div class="image-title"><span>Kirill Shcherbakov</span></div>
											</div>
											<div class="image image-default block design-01 wnd-orientation-square wnd-type-image"
												style="margin-left:30.57%;margin-right:30.57%;"
												id="wnd_ImageBlock_99243">
												<div class="image-content cf"
													style="padding-bottom:100%;text-align:center;">
													<img src="https://ai-for-predicting-3d-protein-structure-stability9.webnode.com/_files/200000004-aeec7aeec9/200/F8B70ABD-C6C6-4DB9-B2F5-B1B8B44393FF.jpeg"
														alt="Egos Sevriugov"
														style="top:0%;left:0%;width:100%;height:100%;position:absolute;">
													<div class="image-embed">
													</div>
												</div>
												<div class="image-title"><span>Egos Sevriugov</span></div>
											</div>
											<div class="image image-default block design-01 wnd-orientation-portrait wnd-type-image"
												style="margin-left:33.28%;margin-right:33.28%;"
												id="wnd_ImageBlock_31060">
												<div class="image-content cf"
													style="padding-bottom:118.52%;text-align:center;">
													<img src="https://ai-for-predicting-3d-protein-structure-stability9.webnode.com/_files/200000005-c4df6c4df8/200/D21DB249-C9DD-463C-BBBC-1F0996C0B566.jpeg"
														alt="Nitika Mikhailovskiy "
														style="top:0%;left:0%;width:100%;height:100%;position:absolute;">
													<div class="image-embed">
													</div>
												</div>
												<div class="image-title"><span>Nitika Mikhailovskiy </span></div>
											</div>
											<div class="image image-default block design-01 wnd-orientation-portrait wnd-type-image"
												style="margin-left:34.93%;margin-right:34.93%;"
												id="wnd_ImageBlock_19143">
												<div class="image-content cf"
													style="padding-bottom:133.52%;text-align:center;">
													<img src="https://ai-for-predicting-3d-protein-structure-stability9.webnode.com/_files/200000006-64c0964c0b/200/A5970FB1-3D8D-4E60-89FC-6F5934E1EDE8.jpeg"
														alt="Igor Markov"
														style="top:0%;left:0%;width:100%;height:100%;position:absolute;">
													<div class="image-embed">
													</div>
												</div>
												<div class="image-title"><span>Igor Markov</span></div>
											</div>
										</div>
										<div class="text cf design-01">
											<div class="text-content">
												<h2>Interface Designer</h2>
											</div>
										</div>
										<div class="image image-default block design-01 wnd-orientation-square wnd-type-image"
											style="margin-left:30.57%;margin-right:30.57%;" id="wnd_ImageBlock_36548">
											<div class="image-content cf"
												style="padding-bottom:100%;text-align:center;">
												<img src="https://ai-for-predicting-3d-protein-structure-stability9.webnode.com/_files/200000007-74c4574c47/200/50FA1C52-18E6-4DA9-A593-C8EE0CD1D4C0.jpeg"
													alt="Pornsruang Wiwattanakul "
													style="top:0%;left:0%;width:100%;height:100%;position:absolute;">
												<div class="image-embed">
												</div>
											</div>
											<div class="image-title"><span>Pornsruang Wiwattanakul </span></div>
										</div>
										<div class="text cf design-01">
											<div class="text-content"></div>
										</div>
									</div>
								</div>
							</div>
						</section>
					</div>
				</div>

			</main>
			<footer id="footer">

				<div class="section-wrapper cf">
					<div class="section-wrapper-content cf">
						<section wn-border="top" wn-border-element="footer-line"
							class="section footer-01 typo-05 s-white">
							<div class="section-bg">
								<div class="section-bg-layer">

								</div>
								<div class="section-bg-layer section-bg-overlay"></div>
							</div>
							<div class="section-inner">
								<div class="footer-line cf">
									<div class="footer-texts cf">
										<div class="copyright cf">
											<span class="inline-text">
												<span>AI for predicting 3D protein structure stability<br></span>
											</span><br>
											<span class="inline-text">
												<span>TEAM 5, Innovation workshop 2019</span>
											</span>
										</div>
										<div class="system-footer cf">
											<div class="lang-select cf">

											</div><br>
										</div>
									</div>
								</div>
							</div>
						</section>
					</div>
				</div>

			</footer>
		</div>

	</div>