<!DOCTYPE html>
<!--[if IE 9]><html class="lt-ie10 no-js" prefix="og: https://ogp.me/ns#" lang="en-us"><![endif]-->
<!--[if gt IE 9]><!-->
<html class="no-js" prefix="og: https://ogp.me/ns#" lang="en-us">
<!--<![endif]-->

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<title>Analysis :: Protein Analytics</title>
	<meta name="viewport" content="width=device-width,initial-scale=1,viewport-fit=cover">
	<meta name="msapplication-tap-highlight" content="no">
	<link href="styles.css" rel="stylesheet">
	<meta name="description" content="Initial Protein">
	<meta name="keywords" content="">
	<meta name="generator" content="Webnode 2">
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="apple-mobile-web-app-status-bar-style" content="black">
	<meta name="format-detection" content="telephone=no">

	<meta property="og:url" content="http://protanalytics.xyz/services/">
	<meta property="og:title" content="Analysis :: Protein Analytics">
	<meta property="og:type" content="article">
	<meta property="og:description" content="Initial Protein">
	<meta property="og:site_name" content="Protein Analytics">
	<meta property="og:image" content="/bckg2.png">
	<meta property="og:article:published_time" content="2019-09-16T00:00:00+0200">
	<meta name="robots" content="noindex,nofollow">
	<link rel="canonical" href="http://protanalytics.xyz/services/">
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.1/jquery.validate.min.js"></script>
	<style>
		label.error {
			color:red;
		}
		span.answer{
			padding: 5px;
			margin:1rem;
			border-style: solid;
			border-radius: 1rem;
			border-width:2px;
			border-color:#fff4;
		}
	</style>
	<script>window.checkAndChangeSvgColor = function (c) { try { var a = document.getElementById(c); if (a) { c = [["border", "borderColor"], ["outline", "outlineColor"], ["color", "color"]]; for (var h, b, d, f = [], e = 0, m = c.length; e < m; e++)if (h = window.getComputedStyle(a)[c[e][1]].replace(/\s/g, "").match(/^rgb[a]?\(([0-9]{1,3}),([0-9]{1,3}),([0-9]{1,3})/i)) { b = ""; for (var g = 1; 3 >= g; g++)b += ("0" + parseInt(h[g], 10).toString(16)).slice(-2); "0" === b.charAt(0) && (d = parseInt(b.substr(0, 2), 16), d = Math.max(16, d), b = d.toString(16) + b.slice(-4)); f.push(c[e][0] + "=" + b) } if (f.length) { var k = a.getAttribute("data-src"), l = k + (0 > k.indexOf("?") ? "?" : "&") + f.join("&"); a.src != l && (a.src = l, a.outerHTML = a.outerHTML) } } } catch (n) { } };</script>
</head>

<body class="layout-04 wt-page">
	<div class="wnd-page cs-gray c-dblue">

		<div id="wrapper" class="t-09">

			<header id="header">
				<div id="layout-section" class="section header header-05 page s-media wnd-background-image">
					<div class="nav-line-wrapper header-fixed wnd-fixed">
						<div class="nav-line initial-state section-inner initial-state">
							<div class="logo logo-gray exo wnd-logo-with-text wnd-image-vector">
								<div class="logo-content">
									<a href="/">
										<div class="logo-embed">
											<div class="logo-embed-cell">
												<embed id="wnd_LogoBlock_867800_img" type="image/svg+xml"
													data-src="/logo.svg?border=105389&outline=105389&color=105389">
												<script>checkAndChangeSvgColor('wnd_LogoBlock_867800_img');</script>
											</div>
										</div>
										<div class="logo-text">
											<span class="logo-text-cell">TEAM 5</span>
										</div>
									</a>
								</div>
							</div>



							<nav id="menu" role="navigation">
								<div>
									<a href="#" class="close-menu" rel="nofollow">
										<span>Close Menu</span>
									</a>
									<ul class="level-1">
										<li class="wnd-homepage">
											<a href="/"><span>Home</span></a>

										</li>
										<li class="wnd-active wnd-active-path">
											<a href="/services"><span>Analysis</span></a>

										</li>
										<li>
											<a href="/about"><span>About</span></a>

										</li>
									</ul><span class="more-text">More</span>
								</div>
							</nav>
							<div id="menu-mobile" class="hidden">
								<a href="#" id="menu-submit"><span></span>Menu</a>
							</div>
						</div>
					</div>
				</div>

			</header>
			<main id="main" role="main">

				<div class="section-wrapper cf">
					<div class="section-wrapper-content cf">
						<div class="section header header-05 page s-media wnd-background-image">
							<div class="section-bg">
								<div class="section-bg-layer wnd-background-image fx-none bgatt-scroll bgpos-center-center"
									style="background-image:url('./bckg1_hires.png')">

								</div>
								<div class="section-bg-layer section-bg-overlay"></div>
							</div>
							<div class="section-inner section-claim">
								<div class="claim-content cf">
									<div class="header-claim cf">
										<h1>
											<div class="auto-font-size cf"><span
													class="styled-inline-text claim-default exo">
													<span><span>
															<font class="wnd-font-size-80">Our AI analysis</font>
														</span></span>
												</span></div>
										</h1>
									</div>
								</div>
							</div>
						</div>
						<section class="section default-01 default s-white">
							<pre id="user" data-id="{{id}}">{{username}} : {{name}} {{surname}}</pre>
							<div class="section-bg">
								<div class="section-bg-layer">

								</div>
								<div class="section-bg-layer section-bg-overlay"></div>
							</div>
							<div class="section-inner">
								<div class="content cf">
									<div class="form block cf typo-04">
											<form id="request" name="request" method="post">

												<fieldset class="form-fieldset" id="seqField">
													<div>
														<div
															class="form-input form-textarea cf wnd-form-field wnd-required">
															<label for="sequence"><span
																	class="inline-text">
																	<span>Protein sequence</span>
																</span></label>
															<textarea id="sequence"
																name="sequence" required maxlength="10000"></textarea>
														</div>
													</div>
													{{!-- <div style="padding-left:50%;">
														<a href="#" id="usePDB">Use PDB Identifier</a>
													</div> --}}
												</fieldset>
												<fieldset class="form-fieldset" id="pdbField" style="display: none;">
													<div>
														<div
															class="form-input form-textarea cf wnd-form-field wnd-required">
															<label for="pdb"><span
																	class="inline-text">
																	<span>Protein PDB ID</span>
																</span></label>
															<input type="text" id="pdb"
																name="pdb" maxlength="15">
														</div>
													</div>
													<div style="padding-left:50%;">
														<a href="#" id="useSEQ">Use sequence</a>
													</div>
												</fieldset>
												<hr>
												<fieldset class="form-fieldset">
													<div>
														<div
															class="form-input form-text cf wnd-form-field wnd-required">
															<label for="position"><span
																	class="inline-text">
																	<span>Position</span>
																</span></label>
															<input id="position"
																name="position" disabled required
																type="text" maxlength="10">
														</div>
													</div>
												</fieldset>
												<fieldset class="form-fieldset">
													<div>
														<div
															class="form-input form-text cf wnd-form-field wnd-required">
															<label for="mutation"><span
																	class="inline-text">
																	<span>Mutation</span>
																</span></label>
															<input id="mutation"
																name="mutation" required
																type="text" maxlength="1">
														</div>
														<div
															class="form-input form-text cf wnd-form-field wnd-required">
															<label for="temp"><span
																	class="inline-text">
																	<span>Temperature</span>
																</span></label>
															<input id="temp"
																name="temp" required
																type="text">
														</div>
														<div
															class="form-input form-text cf wnd-form-field wnd-required">
															<label for="ph"><span
																	class="inline-text">
																	<span>Acidity</span>
																</span></label>
															<input id="ph"
																name="ph" required
																type="text">
														</div>
													</div>
												</fieldset>

												<div class="prot_info">
													<p>Sequence length: <span id="seq_length">0</span></p>
													<p>Wildtype aminoacid: <span id="seq_wild">_</span></p>
													<p>Position: <span id="seq_pos">0</span></p>
													<p>Mutation: <span id="seq_mut">_</span></p>
												</div>

												 <input type="hidden" id="wildtype" name="wiltype" value="">

												<div class="form-submit cf button-01">
													<button type="submit" id="submit" name="send" value="wnd_FormBlock_188335">
														<span class="text">Add to processing</span>
													</button>
												</div>
											</form>
											<span class="answer"></span>
										</div>
								</div>
								<table id="data" class="display" style="width:100%; margin:20px;">
								<thead>
									<tr>
										<th>Time</th>
										<th>Wildtype</th>
										<th>Position</th>
										<th>Mutation</th>
										<th>Temperature</th>
										<th>Acidity</th>
										<th>ddG</th>
										<th>?</th>
										<th>Sequence</th>
									</tr>
								</thead>
							</table>
								</div>
							</div>
						</section>
					</div>
				</div>

			</main>
			<footer id="footer">

				<div class="section-wrapper cf">
					<div class="section-wrapper-content cf">
						<section wn-border="top" wn-border-element="footer-line"
							class="section footer-01 typo-05 s-white">
							<div class="section-bg">
								<div class="section-bg-layer">

								</div>
								<div class="section-bg-layer section-bg-overlay"></div>
							</div>
							<div class="section-inner">
								<div class="footer-line cf">
									<div class="footer-texts cf">
										<div class="copyright cf">
											<span class="inline-text">
												<span>AI for predicting 3D protein structure stability<br></span>
											</span><br>
											<span class="inline-text">
												<span>TEAM 5, Innovation workshop 2019</span>
											</span>
										</div>
										<div class="system-footer cf">
											<div class="lang-select cf">

											</div><br>
										</div>
									</div>
								</div>
							</div>
						</section>
					</div>
				</div>

			</footer>
		</div>

	</div>
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.css">
<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.js"></script>
<script type="text/javascript" charset="utf8" src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.18.1/moment.min.js"></script>


<script>
	$( document ).ready(function() {
		const user = $('#user').data('id');
		$(document).on('click','#usePDB', ()=>{
			$('#seqField').hide();
			$('#pdbField').show();
		});
		$(document).on('click','#useSEQ', ()=>{
			$('#seqField').show();
			$('#pdbField').hide();
		});

		$.validator.addMethod(
				"regex",
				function(value, element, regexp) {
					var re = new RegExp(regexp,'i');
					return this.optional(element) || re.test(value);
				},
				"Please check your input."
		);

		let seqLength = 0;
		$(document).on('change','textarea#sequence', ()=>{
			const seq = $('#sequence');
			seqLength = seq.val().length;
			const addRule = {
				position: {
					required: true,
					regex: "^[0-9]+$",
					max: seqLength,
					min: 1
				}	
			}
			if (seq.val() == "") {
				removeRules(addRule);
				$('#position').prop('disabled', true);
			} else {        
				addRules(addRule);
				$('#position').prop('disabled', false);
				$('#seq_length').html(seqLength);
				const pos = $('input#position').val();
				if(pos != ""){
					$('#seq_wild').html(seq.val()[pos-1].toUpperCase());
					$('#wildtype').val(seq.val()[pos-1].toUpperCase());
					$('#seq_pos').html(pos);
				}
			}
		});

		$(document).on('change','input#position', ()=>{
			const pos = $('input#position').val();
			if(pos != ""){
				let seqBody = $('#sequence').val();
				$('#seq_wild').html(seqBody[pos-1].toUpperCase());
				$('#wildtype').val(seqBody[pos-1].toUpperCase());
				$('#seq_pos').html(pos);
			}
		});

		$(document).on('change','input#mutation', ()=>{
			const mut = $('input#mutation').val();
			if(mut != ""){
				$('#seq_mut').html(mut.toUpperCase());
			}
		});

		$("form#request").validate({
			rules: {
				sequence: {
					required: true,
					regex: "^[ACDEFGHIKLMNPQRSTVWYX]+$",
					minlength: 6
				},
				mutation: {
					required: true,
					regex: "^[ACDEFGHIKLMNPQRSTVWYX]+$"
				},
				ph: {
					required: true,
					regex: "^\\d+(\\.\\d+)*$"
				},
				temp: {
					required: true,
					regex: "^\\d+(\\.\\d+)*$"
				}
			},
			messages: {
				sequence: {
					required: "Please specify protein sequence",
					regex: "Invalid sequence"
				},
				mutation: {
					regex: "Mutation must be a letter"
				},
				position: {
					regex: "Position consists of only numbers",
					max: "Position is wrong (> length of sequence)"
				}
			}
		});

		function addRules(rulesObj){
			for (var item in rulesObj){
			$('#'+item).rules('add',rulesObj[item]);  
			} 
		}

		function removeRules(rulesObj){
			for (var item in rulesObj){
			$('#'+item).rules('remove');  
			} 
		}

		$("form#request").on("submit", (e)=>{
			e.preventDefault();
			$(".answer").empty();
			$('#submit').prop('disabled', true);
			const formObj = $("form#request");
			if($('#mutation').val().toUpperCase() == "X"){
				const dict = 'ACDEFGHIKLMNPQRSTVWY'.split('');
				dict.forEach(function(element) {
					$('#mutation').val(element);
					$.post( "/analysis", formObj.serialize())
					.done(function(load) {
						let r = JSON.parse(load);
						$(".answer").append(`${ r.data.mutation}: deltaDeltaG: ${r.answer.ddG}, ${r.answer.stability}<br>`);
						let send = r.data;
						send.ddg = r.answer.ddG;
						$.post( `/${user}/setdata`, send).done(function() {
							$('#submit').prop('disabled', false);
							table.ajax.reload();
						});
					})
					.fail(function() {
						alert( "error" );
					})
				});
			} else {
				$.post( "/analysis", formObj.serialize())
				.done(function(data) {
					const r = JSON.parse(data);
					$(".answer").append(`deltaDeltaG: ${r.answer.ddG}, ${r.answer.stability}`);
					const answer = `${formObj.serialize()}&ddg=${r.answer.ddG}`;
					$.post( `/${user}/setdata`, answer).done(function(data) {
						$('#submit').prop('disabled', false);
						table.ajax.reload();
					});
				})
				.fail(function() {
					alert( "error" );
				})
			}
		});

		$.get( "/ping").done(function( data ) {
			if(data.answer) $( ".prot_info" ).append(`<p>Server: <span style="color:green">up</span></p>`);
			else {
				$( ".prot_info" ).append(`<p>Server: <span style="color:red">down</span></p>`);
				$(':input[type="submit"]').prop('disabled', true);
			}
		});

		let table = $('#data').DataTable( {
			"processing": true,
			"serverSide": true,
			'scrollX': true,
			'scrollCollapse': true,
			'autoWidth': true,
			"ajax": `/${user}/datasource`,
			"order": [[ 0, "desc" ]],
			"columns": [
				{ "data": "createdAt" },
				{ "data": "wildtype" },
				{ "data": "position" },
				{ "data": "mutation" },
				{ "data": "temp" },
				{ "data": "ph" },
				{ "data": "ddg" },
				{ "data": "approved" },
				{ "data": "sequence" }
			],
			columnDefs:[{targets:0, render:function(data){
				return moment(data).format('H:mm a D.M.YY');
			}},
			{ "width": "400px", "targets": [8] }]
		});
	});
</script>
</body>