<!DOCTYPE html>
<!--[if IE 9]><html class="lt-ie10 no-js" prefix="og: https://ogp.me/ns#" lang="en-us"><![endif]-->
<!--[if gt IE 9]><!-->
<html class="no-js" prefix="og: https://ogp.me/ns#" lang="en-us">
<!--<![endif]-->

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<title>Ai for predicting 3d protein structure stability</title>
	<meta name="viewport" content="width=device-width,initial-scale=1,viewport-fit=cover">
	<meta name="msapplication-tap-highlight" content="no">
	<link href="styles.css" rel="stylesheet">
	<meta name="description" content="AI for predicting 3D protein structure stability">
	<meta name="keywords" content="">
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="apple-mobile-web-app-status-bar-style" content="black">
	<meta name="format-detection" content="telephone=no">
	<meta property="og:url" content="http://protanalytics.xyz/">
	<meta property="og:title" content="Protein stability predictor">
	<meta property="og:type" content="article">
	<meta property="og:description" content="AI for predicting 3D protein structure stability">
	<meta property="og:site_name" content="Protein Analytics">
	<meta property="og:image" content="/clock.png">
	<meta property="og:article:published_time" content="2019-09-16T00:00:00+0200">
	<meta name="robots" content="noindex,nofollow">
	<link rel="canonical" href="http://protanalytics.xyz/">
	<script>
		window.checkAndChangeSvgColor = function (c) { try { var a = document.getElementById(c); if (a) { c = [["border", "borderColor"], ["outline", "outlineColor"], ["color", "color"]]; for (var h, b, d, f = [], e = 0, m = c.length; e < m; e++)if (h = window.getComputedStyle(a)[c[e][1]].replace(/\s/g, "").match(/^rgb[a]?\(([0-9]{1,3}),([0-9]{1,3}),([0-9]{1,3})/i)) { b = ""; for (var g = 1; 3 >= g; g++)b += ("0" + parseInt(h[g], 10).toString(16)).slice(-2); "0" === b.charAt(0) && (d = parseInt(b.substr(0, 2), 16), d = Math.max(16, d), b = d.toString(16) + b.slice(-4)); f.push(c[e][0] + "=" + b) } if (f.length) { var k = a.getAttribute("data-src"), l = k + (0 > k.indexOf("?") ? "?" : "&") + f.join("&"); a.src != l && (a.src = l, a.outerHTML = a.outerHTML) } } } catch (n) { } };
	</script>
</head>

<body class="layout-04 wt-home">
	<div class="wnd-page cs-gray c-dblue">
		<div id="wrapper" class="t-09">
			<header id="header">
				<div id="layout-section" class="section header header-05 home s-media wnd-background-image">
					<div class="nav-line-wrapper header-fixed wnd-fixed">
						<div class="nav-line initial-state section-inner initial-state">
							<div class="logo logo-gray exo wnd-logo-with-text wnd-image-vector">
								<div class="logo-content">
									<div class="logo-embed">
										<div class="logo-embed-cell">
											<embed id="wnd_LogoBlock_867800_img" type="image/svg+xml"
												data-src="/logo.svg">
											<script>checkAndChangeSvgColor('wnd_LogoBlock_867800_img');</script>
										</div>
									</div>
									<div class="logo-text">
										<span class="logo-text-cell">TEAM 5</span>
									</div>
								</div>
							</div>

							<nav id="menu" role="navigation">
								<div>
									<a href="#" class="close-menu" rel="nofollow">
										<span>Close Menu</span>
									</a>
									<ul class="level-1">
										<li class="wnd-active   wnd-homepage">
											<a href="/"><span>Home</span></a>

										</li>
										<li>
											<a href="/services"><span>Analysis</span></a>

										</li>
										<li>
											<a href="/about"><span>About</span></a>

										</li>
									</ul><span class="more-text">More</span>
								</div>
							</nav>
							<div id="menu-mobile" class="hidden">
								<a href="#" id="menu-submit"><span></span>Menu</a>
							</div>
						</div>
					</div>
				</div>

			</header>
			<main id="main" role="main">

				<div class="section-wrapper cf">
					<div class="section-wrapper-content cf">
						<div class="section header header-05 home s-media wnd-background-image">
							<div class="section-bg">
								<div class="section-bg-layer wnd-background-image fx-none bgatt-scroll bgpos-center-center">
									<video autoplay muted loop playsinline>
										<source src="loop.mp4" type="video/mp4">
									</video>
								</div>
								<div class="section-bg-layer section-bg-overlay"></div>
							</div>

							<div class="section-inner header-content" style="min-height: 60vh;">
								<div class="content cf wnd-no-cols">
									<div>
										<div class="text cf design-01">
											<div class="text-content">
												<h1>AI for predicting 3D protein structure stability<br></h1>

												<h3><br>Safe time and accuracy for you</h3>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
						<section class="section default-01 default s-white">
							<div class="section-bg">
								<div class="section-bg-layer">

								</div>
								<div class="section-bg-layer section-bg-overlay"></div>
							</div>
							<div class="section-inner">
								<div class="content cf wnd-no-cols">
									<div>
										<div class="image image-default block design-01 wnd-orientation-square wnd-type-image"
											style="margin-left:37.5%;margin-right:37.5%;" id="wnd_ImageBlock_4165">
											<div class="image-content cf"
												style="padding-bottom:100%;text-align:center;">
												<img src="/clock.png" alt=""
													style="top:0%;left:0%;width:100%;height:100%;position:absolute;">
												<div class="image-embed">
												</div>
											</div>
											<div class="image-title"><span></span></div>
										</div>
										<div class="text cf design-01">
											<div class="text-content">
												<h2 class="wnd-align-center">Safe Time</h2>
											</div>
										</div>
										<div class="image image-default block design-01 wnd-orientation-square wnd-type-image"
											style="margin-left:37.5%;margin-right:37.5%;" id="wnd_ImageBlock_17782">
											<div class="image-content cf"
												style="padding-bottom:100%;text-align:center;">
												<img src="/cross.png" alt=""
													style="top:0%;left:0%;width:100%;height:100%;position:absolute;">
												<div class="image-embed">
												</div>
											</div>
											<div class="image-title"><span></span></div>
										</div>
										<div class="text cf design-01">
											<div class="text-content">
												<h2 class="wnd-align-center">Accuracy</h2>
											</div>
										</div>
										<div class="button block typo-05 button-02 wnd-align-center">
											<div class="button-content">
												<a href="/services">
													<span class="button-text">Analysis</span>
												</a>
											</div>
										</div>
									</div>
								</div>
							</div>
						</section>
						<section class="section default-01 default s-media wnd-background-image">
							<div class="section-bg">
								<div class="section-bg-layer wnd-background-image fx-none bgpos-center-center bgatt-scroll"
									style="background-image:url('bckg2_hires.png')">

								</div>
								<div class="section-bg-layer section-bg-overlay"></div>
							</div>
							<div class="section-inner">
								<div class="content cf">
									<div>
										<div class="column-wrapper cf">
											<div>
												<div class="column-content pr cf" style="width:42%;">
													<div>
														<div class="text cf design-01">
															<div class="text-content">
																<h1>
																	<ul>
																		<li dir="ltr">
																			<p dir="ltr">AI for predicting 3D protein
																				structure stability</p>
																		</li>
																	</ul>
																</h1>

																<h3>TEAM 5</h3>
															</div>
														</div>
													</div>
												</div>
												<div class="column-content pr cf" style="width:7%;">
													<div>
														<div class="text cf design-01">
															<div class="text-content"></div>
														</div>
													</div>
												</div>
												<div class="column-content pr cf" style="width:49%;">
													<div>
														<div class="text cf design-01">
															<div class="text-content">
																<p>Biological researches nowadays whose interests in the
																	area of Mathematical Modeling and
																	predicting&nbsp;&nbsp;the properties of biological
																	molecule, especially proteins, face problems of time
																	consuming and inaccurate for the overall process.
																	Our AI for predicting 3D protein structure stability
																	can solve these problems.</p>
															</div>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</section>
						<section class="section default-01 default s-white">
							<div class="section-bg">
								<div class="section-bg-layer">

								</div>
								<div class="section-bg-layer section-bg-overlay"></div>
							</div>
							<div class="section-inner">
								<div class="content cf wnd-no-cols">
									<div>
										<div class="text cf design-01">
											<div class="text-content">
												<h1 class="wnd-align-center">End Users</h1>
											</div>
										</div>
										<div class="mt col-3-top cf typo-05">
											<div>
												<div class="col cf">

													<div class="image image-default block design-01 wnd-orientation-landscape wnd-type-icon"
														style="margin-left:44.74%;margin-right:44.74%;"
														id="wnd_ImageBlock_453651">
														<div class="image-content cf"
															style="padding-bottom:76.62%;text-align:center;">
															<div class="image-embed">
																<embed alt=""
																	style="top:0%;left:0%;width:100%;height:100%;position:absolute;"
																	data-src="/quotes.svg?border=7fbbe8&outline=4da0df&color=105389"
																	id="wnd_ImageBlock_453651_img" type="image/svg+xml">
																<script>checkAndChangeSvgColor('wnd_ImageBlock_453651_img');</script>
															</div>
														</div>
														<div class="image-title"><span></span></div>
													</div>
													<div class="text cf design-01">
														<div class="text-content">
															<div class="wnd-align-left">
																<p dir="ltr">"Structural data on the folding of a
																	protein is needed by pharma in terms of studying the
																	interaction with ligand. 3D structure can be
																	obtained both experimentally and theoretically. </p>
																<p dir="ltr">Still we do not have a reliable tool that
																	could predict the stability of these
																	structures."<br>&nbsp;<br></p>
																<h3><strong>Maxim Kondratyev </strong></h3>
																<p dir="ltr" class="wnd-align-center">Institute of Cell
																	Biophysics, Laboratory of Structure and Dynamics of
																	Biomolecular Systems</p>
															</div>
														</div>
													</div>

												</div>
												<div class="col cf">

													<div class="image image-default block design-01 wnd-orientation-landscape wnd-type-icon"
														style="margin-left:44.74%;margin-right:44.74%;"
														id="wnd_ImageBlock_556532">
														<div class="image-content cf"
															style="padding-bottom:76.62%;text-align:center;">
															<div class="image-embed">
																<embed alt=""
																	style="top:0%;left:0%;width:100%;height:100%;position:absolute;"
																	data-src="https://d1di2lzuh97fh2.cloudfront.net/files/2i/2ie/2iek3c.svg?ph=4d752f24d1"
																	id="wnd_ImageBlock_556532_img" type="image/svg+xml">
																<script>checkAndChangeSvgColor('wnd_ImageBlock_556532_img');</script>
															</div>
														</div>
														<div class="image-title"><span></span></div>
													</div>
													<div class="text cf design-01">
														<div class="text-content">
															<p dir="ltr">"Pharma R&amp;D mostly buys startups with
																molecules of interest. </p>
															<p dir="ltr">If there was some tool to accurately and
																quickly predict the stability and interactions of
																proteins,, researchers would perform the screening on
																their own. Time and money saved."</p>
															<p dir="ltr"><span
																	style="font-size: 0.95rem; letter-spacing: 0px; -webkit-text-size-adjust: 100%;">&nbsp;</span><br>
															</p>

															<h3>
																<p dir="ltr"><strong>Andrey Lakovenko</strong></p>
															</h3>

															<h4>R-Pharm, Director of Biotechnology Projects<br></h4>
														</div>
													</div>

												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</section>
						<section class="section heading-01 cta-typo-05 s-media wnd-background-image">
							<div class="section-bg">
								<div class="section-bg-layer wnd-background-image fx-none bgpos-center-center bgatt-scroll"
									style="background-image:url('bckg1_hires.png')">

								</div>
								<div class="section-bg-layer section-bg-overlay"></div>
							</div>
							<div class="section-inner">
								<div class="content">
									<div class="heading-table">
										<div class="heading-table-cell">
											<h2 class="heading-claim auto-font-size"><span
													class="styled-inline-text claim-default wnd-font-size-80 exo">
													<span><span>
															<font class="wnd-font-size-80">Leave the protein stability
																to the pros</font>
														</span></span>
												</span></h2>
											<div class="button block typo-05 button-02">
												<div class="button-content">
													<a href="mailto:ksenia.skulkina@skoltech.ru">
														<span class="button-text">Contact us via email</span>
													</a>
												</div>
												<hr>
												<div class="button-content">
													<a href="/about">
														<span class="button-text">About us</span>
													</a>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</section>
					</div>
				</div>

			</main>
			<footer id="footer">

				<div class="section-wrapper cf">
					<div class="section-wrapper-content cf">
						<section wn-border="top" wn-border-element="footer-line"
							class="section footer-01 typo-05 s-white">
							<div class="section-bg">
								<div class="section-bg-layer">

								</div>
								<div class="section-bg-layer section-bg-overlay"></div>
							</div>
							<div class="section-inner">
								<div class="footer-line cf">
									<div class="footer-texts cf">
										<div class="copyright cf">
											<span class="inline-text">
												<span>AI for predicting 3D protein structure stability<br></span>
											</span><br>
											<span class="inline-text">
												<span>TEAM 5, Innovation workshop 2019</span>
											</span>
										</div>
										<div class="system-footer cf">
											<div class="lang-select cf">

											</div><br>
										</div>
									</div>
								</div>
							</div>
						</section>
					</div>
				</div>

			</footer>
		</div>

	</div>



</body>

</html>